/themes/*/app/frontend/HTMLstarterkit.zip
/themes/*/app/frontend/logs
/themes/*/app/frontend/*.log
/themes/*/app/frontend/node_modules/
/themes/*/app/frontend/dist/
/themes/*/app/frontend/dist
/themes/*/app/frontend/build/
/vendor/
.DS_Store
Thumbs.db
/.php-cs-fixer.cache
