.nsw-body-content .mfa-app {

    padding : 1rem 0 0 0;
    min-width: 0 !important;
    max-width: 100% !important;
    width: 100%;
    margin: 0;
    color: var(--nsw-grey-01);

    i {
      display: none;
    }

    .mfa-app-title {
      @include font-size('xxl');
      color: var(--nsw-grey-01);
      display : none;
    }

    .mfa-section-title {
      @include font-size('lg');
      color: var(--nsw-grey-01);
    }

    .mfa-feature-list-title {
      @include font-size('md');
      color: var(--nsw-grey-01);
    }

    label {
      @extend .nsw-form__label;
    }

    input#backup-code,
    input.mfa-totp__code {
      @extend .nsw-form__input;
    }

    .btn-primary {

      &:focus {
        box-shadow: none;
      }

    }

    .mfa-totp__validate-code p {
      margin: 0 0 rem(16px) 0;
    }

    img {
      filter: grayscale(1);
    }

    .mfa-feature-list {
      &-item {
        @include font-size('sm');
        color: var(--nsw-grey-01);

        &__content {
          color: var(--nsw-grey-01);
        }

        &__title {
          @include font-size('sm');
          color: var(--nsw-grey-01);
        }

        &__description {
          @include font-size('sm');
          color: var(--nsw-grey-01);
        }

      }
    }

    .mfa-action-list {

      // use nsw-list
      @extend .nsw-list;
      @extend .nsw-list--32;

      &__item {

        .btn {
          @extend .nsw-button;
        }

        .btn-primary {
          @extend .nsw-button--dark;
        }

        .btn-secondary {
          @extend .nsw-button--dark-outline-solid;
        }

      }

    }

    .mfa-verify-select-method__actions {
      margin: 0 0 rem(16px) 0;

      a.mfa-verify-select-method__back {
        @extend .nsw-button;
        @extend .nsw-button--dark;
      }
    }

    .mfa-register-backup-codes__container {

      .mfa-register-backup-codes__helper-links {

        // use nsw-list
        @extend .nsw-list;
        @extend .nsw-list--32;

        // ensure margin below
        margin-bottom: rem(32px) !important;

        .btn {
          @extend .nsw-button;
        }

        .btn-link {
          @extend .nsw-button--dark-outline-solid;
        }

      }

      .btn {
        @extend .nsw-button;
      }

      .btn-primary {
        @extend .nsw-button--dark;
      }

    }

    .mfa-register-confirmation {
      text-align: left;
      margin : 0;

      .mfa-register-confirmation__title {
        margin: 0 0 rem(16px) 0;
        @include font-size('lg');
        color: var(--nsw-grey-01);
      }

      .mfa-register-confirmation__description {
        margin: 0 0 rem(16px) 0;
      }

      .btn {
        @extend .nsw-button;
      }

      .btn-primary {
        @extend .nsw-button--dark;
      }

    }

}
