/**
 * Userforms styles for nswdpc/waratah
 * See silverstripe/userforms:client/src/styles/userforms.scss
 * nswdpc/waratah sets  block_default_userforms_css: true
 * Note that the SS userforms step process uses buttons within each step (reason for height 0)
 */
.userform {

  .nsw-progress-indicator__bar {

    width: 100% !important;

    .step-button-wrapper {

      height: 0 !important;
      overflow : hidden;
      border-top: 0.25rem solid var(--nsw-grey-04);

      &.viewed {
        border-top: 0.25rem solid var(--nsw-brand-accent);
      }

      .step-button-jump {
        span {
          font-size: 0;
        }
      }
    }

  }

  .hide {
    display: none;
  }

  label.left,
  .field label.right {
    @extend .nsw-form__label;
  }

  .checkbox .right-title,
  .right-title {
    @extend .nsw-form__helper;
  }

}
