/**
 * Callout styles
 */

.nsw-body-content {

  .wrth-callout {

    @extend .nsw-callout;

    // Subscribe within a callout (experiment)
    // Note: this is a non-standard callout
    &__subscribe {

      background: $white;
      border-top : 1px solid $light20;
      border-right : 1px solid $light20;
      border-bottom : 1px solid $light20;

    }

    // Card containing a form
    &__form {

      .subscribe {

        @include breakpoint('md') {
          .nsw-form-fieldset,
          .main {
            display: flex;

          }

          .main {
            align-items: center;
          }

          .nsw-form-fieldset > .nsw-form-group {
            margin-top: 0;
            padding-right: 1rem;
          }
        }

      }

      .nsw-button.signup {
        margin: 0;
      }

    }// end form

  }

}
