/**
 * The nswdpc/waratah card component
 * This component provides a richer card layout will retaining consistency with nsw-card
 * To use apply the relevant classes
 * Additional features include:
 *  message/priority, favourite, featured-card, location, date, time
 *
 */
.nsw-body-content {

  .wrth-card {

    box-shadow: var(--nsw-box-shadow);

    // Card messages
    &__message {

      padding: rem(16px);
      margin-top: 0.5rem;
      background-color: var(--nsw-status-info-bg);
      color : var(--nsw-status-info);
      order : 10;

      &.info {
        background-color: var(--nsw-status-info-bg);
        color : var(--nsw-status-info);
      }

      &.success {
        background-color: var(--nsw-status-success-bg);
        color : var(--nsw-status-success);
      }

      &.warning {
        background-color: var(--nsw-status-warning-bg);
        color : var(--nsw-status-warning) ;
      }

      &.critical {
        background-color: var(--nsw-status-error-bg);
        color : var(--nsw-status-error);
      }

    }

    /* content treatment */
    .nsw-card__content {

      border: none;

      @include breakpoint('lg') {
        padding: rem(32px) rem(16px) rem(62px) rem(16px);
      }

      .nsw-card__title {
        @include font-size('lg');
        margin : 0 0 rem(16px) 0;
        a {
          color: var(--nsw-brand-supplementary);
          text-decoration: underline;
        }
      }
    }

    // On hover, scale the image
    &:hover {

      .nsw-card__content {
        background-color: var(--nsw-white);
        a {
            color: var(--nsw-palette-red-02);
        }
      }

      .nsw-card__image {
        img {
          transform: scale(1.05);
        }
      }
    }

    /* image treatment */
    .nsw-card__image {

      overflow: hidden;

      img {
        display: block;
        transition: transform .25s ease-in-out;
      }

      .wrth-card__image-placeholder {
        width: 100%;
        height: #{rem(200px)};
        background-color: var(--nsw-grey-04);
        display: block;
      }

    }

    /* Favourite icon */
    &__favourite,
    &__favourite-vue {

      position: absolute;
      @include z-index('middle');/* above card (base) */
      right: rem(12px);
      top: rem(12px);
      width: rem(32px);
      height: rem(32px);
      color: var(--nsw-white);
      cursor: pointer;
      background-color: var(--nsw-brand-dark);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &-icon {
        font-size: 1rem;
        line-height: 1em;
        pointer-events: none;
        color: var(--nsw-white);
        position: static;

        &--active {
          display: none;
        }
      }

      &--active {
        .wrth-card__favourite-icon {
          &--inactive {
            display: none;
          }

          &--active {
            display: block;
          }
        }
      }
    } // end favourite

    /* Card item location */
    &__location {
      background-color: var(--nsw-brand-supplementary);
      display: block;
      @include font-size('sm');
      padding: rem(2px) rem(9px);
      color: var(--nsw-white);
      position: absolute;
      left: #{rem(16px)};
      @include z-index('middle');
      top: calc(#{rem(200px)} - #{rem(16px)});
      max-width: calc(100% - #{rem(16px)});
      margin : 0;
    }

    .nsw-card__date {

      font-weight: var(--nsw-font-bold);
      @include font-size('sm');

      // Card item time
      .wrth-card__time {
        margin: 0;
        color: var(--nsw-grey-01);
      }

      // Card item date
      .wrth-card__date {
        margin: 0;
        color: var(--nsw-grey-02);
      }

    }

  }//end wrth-card

}
