/**
 * Form overrides
 */
form {

  /**
   * The right title
   */
  .wrth-form__helper-info {
    @extend .nsw-form__helper;
    margin: rem(4px) 0 0 0;
  }

  /**
   * Group fields occur in userforms
   */
  .wrth-form__groupfield {
    @extend .nsw-form__group;
    margin-bottom: rem(32px);
  }

  /**
   * SelectionGroup
   */
  .wrth-form__selectiongroup {
    input[type=radio].selector {
      @extend .nsw-form__radio-input;
    }
  }

  /**
   * Date inputs
   */
  .datecomposite,
  .datetimecomposite {
    .inputs {
      .nsw-form__group {
        margin-top: 0;
      }
    }
  }

  input[type=reset] {
    @extend .nsw-button--danger;
  }

  .actions {
    fieldset {
      @include wrth-action-list;
    }
  }

}
