/**
 * List component
 */
.wrth-list {
  &--icons {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: rem(8px) 0 0 0;
      padding: 0;
      &:first-child {
        margin-top: 0;
      }
      .icon {
        margin-right: rem(8px);
      }
    }
  }
}

/**
 * Replace negative margin in nsw-list
 */
.nsw-list {
  margin: 0;
  > * {
    margin: 0;
  }

  &--8 {
    gap: rem(4px);
  }

  &--16 {
    gap: rem(8px);
  }

  &--32 {
    gap: rem(16px);
  }

}
