/**
 * nswdpc/waratah mixins for wrth- extensions
 */
@mixin wrth-button {
  @include font-size('sm');
  margin: rem(48px) rem(32px) 0 0;
  border-radius: var(--nsw-border-radius);
  border: solid 2px transparent;
  white-space: normal;
  text-decoration: none;
  padding: rem(12px) rem(24px);
  cursor: pointer;
  -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  display: inline-block;

  &:not(.nsw-button--flex) {
    min-width: rem(124px);
  }

  &:focus {
    @include nsw-focus;
  }

  &:disabled,
  &.disabled {
    background-color: var(--nsw-off-white);
    color: var(--nsw-grey-03);
    border-color: var(--nsw-off-white);
    cursor: not-allowed;
  }
}// end wrth-button

@mixin wrth-button--block {
  display: block;
  width: 100%;

  + .nsw-button--block {
    margin-bottom: 0;
  }
}// end wrth-button--block

@mixin wrth-button--full-width {
  display: block;
  width: 100%;

  @include breakpoint($nsw-desktop-breakpoint) {
    display: inline-block;
    width: auto;
  }
}// end wrth-button--full-width
