/**
 * An ultra basic CSS only slider of content
 * This modifies a grid with the relevant selector
 * to be one row in height and horizontal scrolling
 *
 * <figure> elements in the gallery grid have no margin top/bottom
 */

.no-image {
  background-color: var(--nsw-grey-04);
  min-height : 100px;
}

.nsw-grid[data-gallery] {

  background-color: var(--nsw-white);

  figure.nsw-media {

    margin-top : 0;
    margin-bottom : 0;

    figcaption {
      & > * {
        --max-lines: 2;
        display: block;
        height: calc( var(--nsw-font-size-xs-desktop) * var(--nsw-line-height-xs-desktop) * var(--max-lines));
        overflow: hidden;
        font-size: var(--nsw-font-size-xs-desktop);
        line-height: var(--nsw-line-height-xs-desktop);
      }
    }

  }

}

.nsw-grid[data-gallery="slideshow"] {
  overflow-x : scroll;
  flex-wrap: nowrap;
  margin : 0;
  /*box-shadow: inset 0 0 1rem rgba(0,0,0,0.15);*/
  border: 1px solid var(--nsw-grey-04);
  align-items: center;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 0;
  min-width : 100%;

  & > * {
    /**
     * Do not allow child items to shrink to fit
     */
    flex-shrink: 0;
  }

}
