/**
 * Provides some styles for an Uppy uploader
 */
.nsw-body-content {

  .uppy-Root {

    @include font-size('md');
    font-family: var(--nsw-font-family);

    .uppy-StatusBar {

      button {
        @include wrth-button;
      }

      &:not(.is-waiting) {

        height: 80px;

        .uppy-StatusBar-actionBtn--upload {
          @extend .nsw-button--dark-outline-solid;
          margin-top : 0;
        }

      }

      &.is-waiting {

        height: 80px;

        .uppy-StatusBar-actionBtn--upload {
          @include wrth-button;
          @extend .nsw-button--dark;
          margin-top : 0;
        }

      }

    }

  }

}
