/**
 * Provides some styles for an Uppy uploader
 */
.nsw-body-content {

  .uppy-Root {

    @include font-size('md');
    font-family: var(--nsw-font-family);

    .uppy-StatusBar {

      .uppy-StatusBar-progress {
        background-color: var(--nsw-status-info);
      }

      &.is-error {

        .uppy-StatusBar-progress {
          background-color: var(--nsw-status-error);
        }

      }

      &-actionCircleBtn {
        svg {
          circle {
            fill: var(--nsw-grey-01);
          }
          path {
            fill: var(--nsw-white);
          }
        }
      }

      &-actionBtn--retry,
      &-actionBtn--retry:hover {
        color: var(--nsw-status-warning);
        background-color: var(--nsw-status-warning-bg);
      }

      &.is-waiting[aria-hidden=false] {
        height: auto;
      }

      &.is-waiting {

        .uppy-StatusBar-actions {
          padding: rem(16px);
        }

        .uppy-StatusBar-actionBtn--upload {
          @extend .nsw-button;
          @extend .nsw-button--dark;
          box-shadow: none;
        }
      }

    }

  }

}
