/**
 * Video and video gallery
 */

.wrth-media__video {
  iframe {
    border: none;
    display: block;
  }
}

.wrth-video {

  .wrth-media__video {
    background: var(--nsw-black);
  }

  &-gallery {

    h4 {
        margin-bottom: rem(16px);
    }

  }

  &-featured {

    h2 {
        margin-bottom: rem(16px);
        @include breakpoint("lg") {
            margin-bottom: rem(40px);
        }
    }

    .more-link {
      @include breakpoint("lg") {
        text-align: right;
      }
    }

  }

}


/**
 * Various styles for classes provided by modules
 */
.embed-responsive,
.ss-htmleditorfield-file.embed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}
