::selection {
  color: $white;
  background-color: $danger;
}

.nsw-wysiwyg-content {
  .nsw-page-nav,
  .nsw-intro,
  > section:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.search-results {
  list-style: none;
  padding: 0;

  .search-results-item {
    margin-bottom: 2rem;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.embed-responsive,
.ss-htmleditorfield-file.embed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: '';
  }

  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}


// Forms

.field.requiredField {
  .left::after {
    @extend .nsw-form-required;
  }
}

.error,
.error.message {
  &:not(input) {
    &:not(select) {
      @extend .nsw-form-helper;
      @extend .nsw-form-helper--error;
      font-weight: 500;
      font-size: 1rem;
    }
  }
}

.userform {
  fieldset {
    @extend .nsw-form-fieldset;

    > legend {
      &:not(.left) {
        margin-bottom: 1rem;
      }
    }
  }

  .left {
    @extend .nsw-form-label;
  }

  .field,
  .Actions {
    position: relative;

    @include nsw-spacing(margin-top, xl);
    border: 0;
  }

  .field {
    &.checkbox,
    &.checkboxset,
    &.optionset,
    &.userformsoptionset {
      legend {
        @extend .nsw-form-label;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }
    }

    &.optionset,
    &.userformsoptionset {
      &:not(.checkboxset) {
        .middleColumn {
          @extend .nsw-form-radio;

          input.radio {
            @extend .nsw-form-radio__input;
          }

          label {
            @extend .nsw-form-radio__label;
          }
        }
      }
    }

    &.checkbox,
    &.checkboxset {
      .middleColumn {
        @extend .nsw-form-checkbox;

        input {
          @extend .nsw-form-checkbox__input;
        }

        label {
          @extend .nsw-form-checkbox__label;
        }
      }
    }
  }

  select {
    @extend .nsw-form-select;
  }

  textarea,
  input[type='text'],
  input[type='password'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='date'],
  input[type='month'],
  input[type='time'],
  input[type='week'],
  input[type='number'],
  input[type='email'],
  input[type='url'],
  input[type='search'],
  input[type='tel'],
  input[type='color'] {
    @extend .nsw-form-input;
  }

  .Actions,
  .btn-toolbar {
    .action {
      @extend .nsw-button;
      @extend .nsw-button--primary;
    }
  }
}
