// Project defaults
@import '../../../../../../../../../waratah-branding/frontend/src/defaults.scss';

// nswdpc/waratah mixins
@import './components/waratah/mixins';

// NSW Design System
@import 'node_modules/nsw-design-system/src/main';

// Apply typography eg Public Sans
@import './components/waratah/typography';

// Silverstripe components - MFA, userforms, editor field
@import './components/silverstripe/silverstripe';

// Third party components
@import './components/thirdparty/slimselect';

// nswdpc/waratah components
@import './components/waratah/brand';
@import './components/waratah/canvas';
@import './components/waratah/card';
@import './components/waratah/grid';
@import './components/waratah/feature';
@import './components/waratah/filters';
@import './components/waratah/form';
@import './components/waratah/icon-button';
@import './components/waratah/image';
@import './components/waratah/list';
@import './components/waratah/logo';
@import './components/waratah/main-navigation';
@import './components/waratah/micromodal';
@import './components/waratah/mapping';
@import './components/waratah/scale';
@import './components/waratah/search';
@import './components/waratah/slider';
@import './components/waratah/social-links';
@import './components/waratah/trumbowyg';
@import './components/waratah/uploader';
@import './components/waratah/video';

// Generic content overrides, load last
@import './components/waratah/content';

// Backward compatibility rules
@import './components/waratah/bc';

// Fixes to be applied to nswds, could be empty
@import './components/waratah/fixes';

// Finally, import project app.scss
@import '../../../../../../../../../waratah-branding/frontend/src/app.scss'
